.add-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--dark-text);
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 13px;
  border-radius: 0.5em;
  background: var(--dull-background);
  border: none;
  box-shadow: var(--normal-shadow);
  outline: none;
}

.add-button:active {
  color: white;
  box-shadow: var(--inset-shadow);
}

.add-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: var(--light-primary-color);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.add-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.add-button:hover {
  color: white;
}

.add-button:hover:before {
  top: -35%;
  background-color: var(--primary-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.add-button:hover:after {
  top: -45%;
  background-color: var(--primary-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
