/* ==============================
   PROGRESS BAR
============================== */

.progress-bar-container {
  width: 100%;
  height: 6px;
  background-color: #fde7d2;
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(
    90deg,
    #ff9800,
    #ffb74d
  );
  border-radius: 999px;
  transition: width 0.15s linear;
}
