.post-query-container{
  width:100%;
  display:flex;
  flex-direction:column;
  gap:16px;
}

.post-query-field{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.post-query-field label{
  font-size:13px;
  font-weight:500;
}

.post-query-select{
  width:100%;
  height:42px;
  border:1px solid var(--light-border);
  border-radius:8px;
  padding:0 10px;
  font-size:13px;
  background:var(--input-background);
  outline:none;
}

.post-query-textarea{
  width:100%;
  height:120px;
  resize:none;
  border:1px solid var(--light-border);
  border-radius:8px;
  padding:10px;
  font-size:13px;
  background:var(--input-background);
  outline:none;
}

/* FILE */

.post-query-file-wrapper{
  width:100%;
  height:42px;
  border:1px solid var(--light-border);
  border-radius:8px;
  padding:0 10px;
  background:var(--input-background);
  display:flex;
  align-items:center;
  gap:12px;
}

.post-query-file-btn{
  background:white;
  border:1px solid var(--light-border);
  padding:4px 10px;
  border-radius:6px;
  font-size:12px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  height:28px;
}

.post-query-file-text{
  font-size:13px;
  color:var(--dark-text);
  display:flex;
  align-items:center;
}

.post-query-submit{
  width: fit-content;
}