.search-bar {
 border: none;
 padding: 0.2rem 1rem;
 border-radius: 0.5rem;
 background: var(--dull-background);
 box-shadow: var(--normal-shadow);
 transition: 0.3s;
}

.search-bar:focus-visible {
  outline: none;
}