.wave-section {
  position: relative;
  width: 100%;
  height: 700px;
  background: linear-gradient(
    90deg,
    #ff6f00 0%,
    #ff9800 50%,
    #ff6a00 100%
  );
  overflow: hidden;
}

/* SVG */
.wave-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}

/* ANIMATION */
.wave-parallax > use {
  animation: wave-move 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.wave-parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.wave-parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.wave-parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.wave-parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes wave-move {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .wave-section {
    height: 320px;
  }
}
