.test-management-header {
  margin-bottom: 18px;
}

.test-management-segmented-tabs{
  padding: 20px 0;
}

.test-management-title {
  font-size: 26px;
  font-weight: 600;
  color: var(--main-heading);
}

.test-management-subtitle {
  font-size: 14px;
  color: var(--main-subheading);
}

/* CONTROLS */
.test-management-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  flex-wrap: wrap;
  gap: 12px;
}

.test-management-actions {
  display: flex;
  gap: 12px;
}

/* ACTIONS */
.test-management-row-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* FOOTER */
.test-management-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  flex-wrap: wrap;
  gap: 12px;
}

/* MOBILE */
@media (max-width: 768px) {
  .test-management-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
