/* HEADER */
.students-enrolled-header {
  margin-bottom: 18px;
}

.students-enrolled-title {
  font-size: 26px;
  font-weight: 600;
}

.students-enrolled-subtitle {
  font-size: 14px;
  color: #6b7280;
}

/* CONTROLS */
.students-enrolled-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.students-enrolled-entries {
  font-size: 13px;
  color: #374151;
}

.students-enrolled-entries select {
  margin: 0 6px;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

.students-enrolled-actions-top {
  display: flex;
  gap: 12px;
}

/* TABLE CARD */
.students-enrolled-table-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

/* TABLE */
.students-enrolled-table {
  width: 100%;
  border-collapse: collapse;
}

.students-enrolled-table th {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #6b7280;
  padding-bottom: 14px;
}

.students-enrolled-table td {
  font-size: 14px;
  padding: 1px 0;
  color: #111827;
  border-top: 1px solid #eef0f4;
}

.students-enrolled-table tr:hover td {
  background: #fafafa;
}

/* CENTERED COLUMNS */
.col-center {
  text-align: center;
}

/* AVATAR */
.students-enrolled-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

/* TEXT */
.name {
  font-weight: 500;
}

.email,
.mobile {
  color: #6b7280;
}

/* ACTION BUTTONS */
.students-enrolled-row-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* NO DATA */
.no-data {
  text-align: center;
  padding: 30px;
  color: #9ca3af;
}
.table-info {
  margin-top: 12px;
  font-size: 13px;
  color: #6b7280;
}

/* FOOTER */
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 14px;
}

/* PAGINATION */
.pagination {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #e5e7eb;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  font-weight: 600;
}

.pagination button.active {
  background: #ff9800;
  color: #ffffff;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* MOBILE */
@media (max-width: 640px) {
  .table-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .students-enrolled-table-card {
    overflow-x: auto;
  }

  .students-enrolled-table {
    min-width: 700px; /* forces horizontal scroll */
  }
  .students-enrolled-table td,
  .students-enrolled-table th {
    font-size: 12px;
    padding: 6px 8px;
    white-space: nowrap;
  }
}