.search-bar {
 border: none;
 padding: 1rem;
 border-radius: 0.5rem;
 background: #f3f3f3;
 box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
 transition: 0.3s;
}

.search-bar:focus-visible {
  outline: none;
}