.query-popup-overlay {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--overlay-background);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:999;
}

.query-popup-card {
  width:800px;
  background:white;
  padding:20px;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  gap:14px;
}

.query-popup-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.query-popup-title {
  font-size:18px;
  font-weight:600;
}

.query-popup-close {
  cursor:pointer;
  font-size:14px;
}

.query-popup-tabs {
  width:100%;
}

.query-popup-content {
  margin-top:10px;
}