.bounce-loader-wrapper {
  position: relative;
  z-index: 1;
}

/* ================= CIRCLES ================= */

.bounce-loader-circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary-color);
  left: 15%;
  transform-origin: 50%;
  animation: bounce-loader-circle-animation 0.5s alternate infinite ease;
}

@keyframes bounce-loader-circle-animation {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.bounce-loader-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.bounce-loader-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/* ================= SHADOW ================= */

.bounce-loader-shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--overlay-background);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: bounce-loader-shadow-animation 0.5s alternate infinite ease;
}

@keyframes bounce-loader-shadow-animation {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.bounce-loader-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.bounce-loader-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}