/* Container positioning */
.bookmark-button {
  position: absolute;
  bottom: -14px;
  right: -14px;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  box-shadow: var(--normal-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 6;
}

/* Hide checkbox */
.bookmark-button input {
  appearance: none;
  display: none;
}

/* SVG icon */
.bookmark-button-icon {
  width: 20px;
  fill: var(--light-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-origin: top;
  transition: 0.2s;
}

/* Spark effect */
.bookmark-button-icon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  box-shadow:
    0 30px 0 -4px var(--primary-color),
    30px 0 0 -4px var(--primary-color),
    0 -30px 0 -4px var(--primary-color),
    -30px 0 0 -4px var(--primary-color),
    -22px 22px 0 -4px var(--primary-color),
    -22px -22px 0 -4px var(--primary-color),
    22px -22px 0 -4px var(--primary-color),
    22px 22px 0 -4px var(--primary-color);
  border-radius: 50%;
  transform: scale(0);
}

/* Circle pulse */
.bookmark-button-icon::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  opacity: 0;
}

/* Hover */
.bookmark-button:hover .bookmark-button-icon {
  fill: var(--overlay-background);
}

/* Checked state */
.bookmark-button input:checked + .bookmark-button-icon {
  fill: var(--primary-color);
  animation: bookmark-bounce 0.3s forwards;
}

.bookmark-button input:checked + .bookmark-button-icon::before {
  animation: bookmark-circle 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.bookmark-button input:checked + .bookmark-button-icon::after {
  animation: bookmark-sparks 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* Animations */
@keyframes bookmark-bounce {
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes bookmark-circle {
  90% {
    width: 32px;
    height: 32px;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bookmark-sparks {
  from {
    transform: scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
