/* PROGRESS BAR */

.progress-bar-loader-container {
  width: 100%;
  height: 6px;
  background-color: var(--dull-background);
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar-loader-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 999px;
  transition: width 0.15s linear;
}
