.dashboard-latest-enrollments-container {
  background: white;
  border-radius: 18px;
  padding: 24px;
  margin-top: 28px;
  box-shadow: var(--light-shadow);
}

.dashboard-latest-enrollments-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  color: var(--dark-text);
}

.dashboard-latest-enrollments-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.dashboard-latest-enrollments-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-latest-enrollments-table th {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: var(--main-heading);
  padding-bottom: 12px;
}

.dashboard-latest-enrollments-table td {
  font-size: 14px;
  padding: 14px 0;
  color: var(--dark-text);
  border-top: 1px solid var(--light-border);
}

.dashboard-latest-enrollments-table tr:hover td {
  background: var(--dull-background);
}

/* MOBILE */
@media (max-width: 768px) {
  .dashboard-latest-enrollments-container {
    padding: 18px;
  }

  .dashboard-latest-enrollments-title {
    font-size: 16px;
  }
}
