.student-popup-overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.student-popup-card {
  width: 340px;
  background: white;
  border-radius: 18px;
  padding: 22px;
  box-shadow: var(--light-shadow);
}

.student-popup-card h3 {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* avatar */
.student-popup-avatar {
  width: 72px;
  height: 72px;
  margin: 0 auto 14px;
  border-radius: 50%;
  overflow: hidden;
}

/* INPUTS */
.student-input {
  background-color: var(--input-background);
  border: 1px solid var(--light-border);
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.student-input:focus {
  border-color: var(--primary-color);
  background-color: var(--dull-background);
}

/* ACTIONS*/
.student-popup-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 14px;
}

/* cancel */
.student-cancel-btn {
  background: var(--input-background);
  color: var(--light-text);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}
