.back-button {
 display: flex;
 height: 30px;
 width: 100px;
 align-items: center;
 justify-content: center;
 border-radius: 8px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: white;
 box-shadow: var(--light-shadow);
}

.back-button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

.back-button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

.back-button:hover {
 box-shadow: var(--normal-shadow);
 transform: translateY(-2px);
}