.delete-button {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: var(--overlay-background);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--normal-shadow);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.delete-svgIcon {
  width: 9px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  transition-duration: 0.3s;
  background-color: var(--red-family);
  align-items: center;
  gap: 0;
}

.delete-bin-top {
  transform-origin: bottom right;
}
.delete-button:hover .delete-bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}
