.line-graph-box {
  background: white;
  width: 100%;
  border-radius: 16px;
  padding-bottom: 20px;
  box-shadow: var(--light-shadow);
}

.line-graph-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-heading);
  margin: 0;
  padding: 32px 32px 12px;
  position: relative;
}

.line-graph-date {
  float: right;
  position: relative;
}

.line-graph-date-btn {
  border: none;
  background: none;
  color: var(--light-text);
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.line-graph-date-btn:hover {
  color: var(--primary-color);
}

.line-graph-chart {
  width: 100%;
  height: 320px;
}

.line-graph-tooltip {
  background: white;
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: var(--light-shadow);
  text-align: center;
}

.line-graph-tooltip-title {
  font-size: 12px;
  font-weight: 600;
  color: var(--dark-text);
  margin-bottom: 4px;
}

.line-graph-tooltip-value {
  font-size: 13px;
  font-weight: 500;
  color: var(--light-text);
}

.line-graph-calendar {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 50;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .line-graph-title {
    font-size: 22px;
  }

  .line-graph-chart {
    height: 260px;
  }
}
